mixin field-row(props)
  .o-field-row(class=props.classes)
    if props.label
      label.o-field-row__label(for=props.id)=props.label
    input.o-field-row__input.o-input.o-input_text(type=props.type || 'text', id=props.id, name=props.name || props.id, placeholder=props.placeholder)
    p.o-field-row__error(data-for=props.id)
